@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff;
  max-width: 1600px; }

.wrapper {
  display: flex;
  margin: 0% auto;
  width: 90%;
  max-width: 1350px; }

html {
  font-size: 62.5%; }

body {
  color: #454545;
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  display: inline-block; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 100%;
  padding: 3.5rem 0rem; }
  .header .wrapper {
    align-items: center; }
  .header .menu {
    height: 2.7rem;
    width: 3.5rem; }
    .header .menu__line {
      height: .4rem;
      width: 100%;
      background-color: #fff;
      border-radius: 10rem; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .75rem; }
  .header .logo {
    display: inline-block;
    margin: 0% auto; }

.nav {
  display: none; }
