.header {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
    width: 100%;
    padding: 3.5rem 0rem;

    & .wrapper {
        align-items: center;
    }

    & .menu {
        height: 2.7rem;
        width: 3.5rem;
        position: relative;
        z-index: 7;

        &__line {
            height: .4rem;
            width: 100%;
            background-color: $gray-dark;
            border-radius: 10rem;
            transition: all .5s ease;

            &:not(:last-child) {
                margin-bottom: .75rem;
            }

            &--top--open {
                transform: rotate(45deg) translateY(8px) translateX(8px);
                transition: all .5s ease;
                transition-delay: .5s;
            }
            //y8 x8
            &--mid--open {
                animation: midLine .5s ease;
                transform: translateX(-100%);
                opacity: 0;
            }

            &--bottom--open {
                transform: rotate(-45deg) translateY(-8px) translateX(8px);
                transition: all .5s ease;
                transition-delay: .5s;
            }

        }
    }

    & .logo {
        display: inline-block;
        margin: 0% auto;
    }
}

@keyframes midLine {
    0% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(10%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        
    }
}